src/main/mule/world-time-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="6ba0691a-afc1-490f-b1a5-153b6c0dd552" basePath="/timezone" >
		<http:listener-connection host="0.0.0.0" port="8089" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="7d5d3550-fa72-48eb-830d-e2c2e33b3217" >
		<http:request-connection host="worldtimeapi.org" />
	</http:request-config>
	<flow name="world-time-apiFlow" doc:id="ca42f4b6-e77c-4c29-9931-d0bada5c5c81" >
		<http:listener doc:name="Listener" doc:id="054d4b6b-0ea7-4957-b750-85f5c1013f46" config-ref="HTTP_Listener_config" path="/{region}/{city}"/>
		<logger level="INFO" doc:name="Logger" doc:id="86f81b12-e2b3-4299-9b69-d676423417ca" message="started"/>
		<http:request method="GET" doc:name="Request" doc:id="32b0713e-2ec3-42a5-84e8-8346463fa9e4" config-ref="HTTP_Request_configuration" path="/{region}/{city}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"region" : attributes.uriParams.region,
	"city": attributes.uriParams.city
}]]]></http:uri-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="b5220ec1-df83-41c1-8f8e-a4f5397d6d11" message="#[payload]"/>
	</flow>
</mule>
